<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kikuchannel</title>
    <style>
        header h1 {
            font-size: 60pt;
            background-color: darkcyan;
            color: #eee;
            text-align: right;
            margin: 0px;
        }
        body {
            font-size: 14pt;
            color: #999;
            margin: 5px;    
        }
    </style>
</head>
<body>
    <header>
        <h1 style="text-align: center;">Hello</h1>
    </header>
    <div role="main">
    <p>This is Kikuchannel.</p>
        <p>こちらはKikuチャンネルです。</p>
    </div>
    <h2>What's kikuchannel?</h2>
</body>
</html>